{{!< layout}}

<header class="jumbotron">
    <div class="container text-center">
        <h1>Ujjawal</h1>
        <hr />
        <h3>Software Engineer</h3>
    </div>
</header>

<section id="profile" class="container">
    <h2 class="text-center">Profile</h2>
    <blockquote class="row text-center">
        I'm a software engineer.
    </blockquote>
    <hr />

    <section class="row">
        <article class="col-lg-6 col-lg-offset-1">
            I am a conscientious person who works hard and pays attention to detail. I'm flexible, quick to pick up new skills and eager to learn from others that gives you the versatility to place me in a number of contexts with confidence that the level of excellence
            you expect will be met. I love structure and order and I also stand for quality. Also I like working in a team, you'll learn faster and more. As the saying goes: 'two heads are better than one'.
        </article>
        <aside class="col-lg-4 text-center">
            <figure class="row">
                <img src="assets/images/self.jpg" alt="Ujjawal" />
            </figure>
            <br />
            <strong>Ujjawal</strong>
        </aside>
    </section>

    <br />
</section>

<section id="experience">
    <div class="container">
        <h2 class="text-center">Experience</h2>
        <blockquote class="text-center">
            The only source of knowledge is experience.
            <br />
            <cite class="text-center text-normal">
                - Albert Einstein
            </cite>
        </blockquote>
        <hr />
        <br />

        <section>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                    <strong>Johnson Controls</strong>
                    <h5><time datetime="2015-07-01">July 2015</time> - <time datetime="2016-08-16">Aug 2016</time></h5>
                </div>
                <article class="col-lg-7">
                    If I would have had to take one thing from this job, it would be JavaScript. While most of the web devs (including myself) assume they know it already because they studied computer science and have coded in C++ or Java, its not the case. Its really powerful
                    and interesting language, but one has to actually spend some time to learn it. I was involved with their flagship product Metasys UI. JavaScript was the meal of the day wrapped around CSS, SVG, XSLT, AngularJS. Growing from a novice
                    developer, I had a significant hand in developing -
                    <ul>
                        <li>
                            Snapping feature from scratch.
                        </li>
                        <li>
                            Rewriting the base code which doubled the application's response time.
                        </li>
                        <li>
                            JavaScript components including element animation, text editor's path tool
                        </li>
                    </ul>
                    <h5><span class="glyphicon glyphicon-map-marker"></span> Mumbai, Maharashtra, India</h5>
                </article>
            </div>
        </section>
    </div>

    <br />
</section>

<section id="education">
    <div class="container">
        <h2 class="text-center">Education</h2>
        <blockquote class="text-center">
            Education is the most powerful weapon we can use to change the world
            <br />
            <cite class="text-center text-normal">
                - Nelson Mandela
            </cite>
        </blockquote>
        <hr />
        <br />

        <section>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                    <strong>Vellore Institute of Technology</strong>
                    <h5><time datetime="2011-07-07">July 2011</time> - <time datetime="2015-05-31">May 2015</time></h5>
                </div>
                <article class="col-lg-7">
                    College was an experiment. I took courses in various discipline - computer science, electronics, communications. The data structure and algorithm, networks and programming courses I took, defined my career choice. Web 2.0 was the talk of the town and
                    I jumped in. Building web sites turned to be my favorite pass time. I was also intrigued by machine learning and data science.
                    <h5><span class="glyphicon glyphicon-map-marker"></span> Vellore, Tamil Nadu, India</h5>
                </article>
            </div>
        </section>
    </div>

    <br />
</section>

<section id="skills">
    <div class="container">
        <h2 class="text-center">Skills</h2>
        <blockquote class="text-center">
            Life without knowledge is death in disguise
            <br />
            <cite class="text-center text-normal">
                - Talib Kweli
            </cite>
        </blockquote>
        <hr />
        <br />

        <section class="text-center col-lg-8 col-lg-offset-2">
            <ul class="list-inline">
                {{#each skill}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </section>

    </div>

    <br />
</section>

<section id="projects">
    <div class="container">
        <h2 class="text-center">Projects</h2>
        <blockquote class="text-center">
            You can do anything you set your mind to
            <br />
            <cite class="text-center text-normal">
                - Benjamin Franklin
            </cite>
        </blockquote>
        <hr />
        <br />

        <section>

            <div class="proj col-lg-4 col-lg-offset-1 col-xs-12">
                <a class="extlink" target="_blank" href="https://github.com/11Ujjawal/codepile"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                <h3>CodePile</h3>
                <p>
                    A collection of data structures and algorithms implemented in C++ using STL.
                </p>
                <h5><code>C++</code></h5>
            </div>

            <div class="proj col-lg-4 col-lg-offset-2 col-xs-12">
                <a class="extlink" target="_blank" href="https://github.com/11Ujjawal/cbits"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                <h3>cBits</h3>
                <p>
                    Twiddling, Fiddling, Befuddling Bits.
                </p>
                <h5><code>C</code></h5>
            </div>

            <div class="proj col-lg-4 col-lg-offset-1 col-xs-12">
                <a class="extlink" target="_blank" href="https://github.com/11Ujjawal/portfolio"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                <h3>Portfolio</h3>
                <p>
                    Personal Web Portfolio to showcaste
                </p>
                <h5><code>HTML5</code> <code>CSS3</code> <code>JS</code></h5>
            </div>

            <div class="proj col-lg-4 col-lg-offset-2 col-xs-12">
                <h3>EEG Based Hospital Automation System</h3>
            </div>

        </section>
    </div>

    <br />
</section>

<section id="contacts">
    <div class="container">
        <h2 class="text-center">Connect</h2>
        <blockquote class="text-center">
            If I had asked people what they wanted, they would have said faster horses.
            <br />
            <cite class="text-center text-normal">
                - Henry Ford
            </cite>
        </blockquote>
        <hr />
        <br />

        <nav class="row text-center">
            <h3>
                <a href="https://in.linkedin.com/in/ujjawal11"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="mailto:11ujjawal@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </h3>
        </nav>
        <br />

    </div>
</section>
