<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Ujjawal" />
    <meta name="description" content="This is the personal web portfolio of Ujjawal. Software Engineer by day, Full Stack Developer by night." />
    <meta name="keyword" content="Portfolio, Software Engineer, Personal WebPage, Full Stack Web Developer" />

    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendors/components-font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />

</head>

<body>
    {{{body}}}
</body>

</html>
