{{!< layout}}

<header class="jumbotron">
    <div class="container text-center">
        <h1>Ujjawal</h1>
        <hr />
        <h3>Software Engineer</h3>
    </div>
</header>

<section id="profile" class="container">
    <h2 class="text-center">Profile</h2>
    <blockquote class="row text-center">
        I'm a software developer.
    </blockquote>
    <hr />

    <section class="row">
        <article class="col-lg-4 col-lg-offset-2">
            I am a web developer.
        </article>
        <aside class="col-lg-4 text-center">
            <figure class="row">
                <img src="assets/images/self.jpg" alt="Ujjawal" />
            </figure>
            <br />
            <p>
                This is a paragraph
            </p>
        </aside>
    </section>

    <br />
</section>

<section id="experience">
    <div class="container">
        <h2 class="text-center">Experience</h2>
        <blockquote class="text-center">
            The only source of knowledge is experience.
            <br />
            <cite class="text-center text-normal">
                - Albert Einstein
            </cite>
        </blockquote>
        <hr />
        <br />

        <section>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                    Johnson Controls
                </div>
                <div class="col-lg-7">
                    This is a dummy text.This is a dummy text.This is a dummy text.This is a dummy text.This is a dummy text.
                </div>
            </div>
        </section>
    </div>

    <br />
</section>

<section id="education">
    <div class="container">
        <h2 class="text-center">Education</h2>
        <blockquote class="text-center">
            Education is the most powerful weapon we can use to change the world
            <br />
            <cite class="text-center text-normal">
                - Nelson Mandela
            </cite>
        </blockquote>
        <hr />
        <br />

    </div>

    <br />
</section>

<section id="skills">
    <div class="container">
        <h2 class="text-center">Skills</h2>
        <blockquote class="text-center">
            Life without knowledge is death in disguise
            <br />
            <cite class="text-center text-normal">
                - Talib Kweli
            </cite>
        </blockquote>
        <hr />
        <br />

    </div>

    <br />
</section>

<section id="projects">
    <div class="container">
        <h2 class="text-center">Projects</h2>
        <blockquote class="text-center">
            You can do anything you set your mind to
            <br />
            <cite class="text-center text-normal">
                - Benjamin Franklin
            </cite>
        </blockquote>
        <hr />
        <br />

    </div>

    <br />
</section>

<section id="hobbies">
    <div class="container">
        <h2 class="text-center">Hobbies</h2>
        <blockquote class="text-center">
            People with many interests live, not only the longest, but the happiest
            <br />
            <cite class="text-center text-normal">
                - George Matthew Allen
            </cite>
        </blockquote>
        <hr />
        <br />

    </div>

    <br />
</section>

<section id="contacts">
    <div class="container">
        <h2 class="text-center">Contacts</h2>
        <blockquote class="text-center">
            If I had asked people what they wanted, they would have said faster horses.
            <br />
            <cite class="text-center text-normal">
                - Henry Ford
            </cite>
        </blockquote>
        <hr />
        <br />

    </div>

    <br />
</section>
