/** Background Color Codes */
/** Font family */
/* Source - https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/ */
@font-face {
  font-family: "SinaNova";
  src: url("../fonts/SinaNova.ttf") format("truetype"), url("../fonts/SinaNova.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GenBasR";
  src: url("../fonts/GenBasR.ttf") format("truetype"), url("../fonts/GenBasR.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GenBasB";
  src: url("../fonts/GenBasB.ttf") format("truetype"), url("../fonts/GenBasB.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

/* Font-size maps */
section h2 {
  font-family: "SinaNova"; }
  @media screen and (min-width: 480px) {
    section h2 {
      font-size: 40px; } }
  @media screen and (min-width: 768px) {
    section h2 {
      font-size: 48px; } }
  @media screen and (min-width: 992px) {
    section h2 {
      font-size: 56px; } }
  @media screen and (min-width: 1200px) {
    section h2 {
      font-size: 71px; } }

section blockquote {
  border: 0;
  font-family: "Roboto-Light"; }
  @media screen and (min-width: 480px) {
    section blockquote {
      font-size: 16px; } }
  @media screen and (min-width: 768px) {
    section blockquote {
      font-size: 19px; } }
  @media screen and (min-width: 992px) {
    section blockquote {
      font-size: 23px; } }
  @media screen and (min-width: 1200px) {
    section blockquote {
      font-size: 28px; } }
  section blockquote cite {
    font-style: normal; }
    @media screen and (min-width: 480px) {
      section blockquote cite {
        font-size: 16px; } }
    @media screen and (min-width: 768px) {
      section blockquote cite {
        font-size: 19px; } }
    @media screen and (min-width: 992px) {
      section blockquote cite {
        font-size: 23px; } }
    @media screen and (min-width: 1200px) {
      section blockquote cite {
        font-size: 23px; } }

section hr {
  color: #10222B;
  width: 75vw; }

section section {
  font-family: "GenBasR"; }
  @media screen and (min-width: 480px) {
    section section {
      font-size: 16px; } }
  @media screen and (min-width: 768px) {
    section section {
      font-size: 19px; } }
  @media screen and (min-width: 992px) {
    section section {
      font-size: 19px; } }
  @media screen and (min-width: 1200px) {
    section section {
      font-size: 19px; } }

section time {
  font-family: "Roboto-Light"; }

#profile img {
  height: 100px;
  width: 100px;
  border-radius: 100px; }

#experience {
  color: #FCFFF5;
  background-color: #468966; }
  #experience h5 {
    color: #FDE792; }

#education {
  background-color: #F6E8B1; }
  #education h5 {
    color: #375D81; }

#skills {
  background-color: #B8ECD7; }
  #skills section ul li {
    color: #FCFFF5;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #10222B; }

#projects {
  color: #FCFFF5;
  background-color: #375D81; }
  #projects section {
    display: flex;
    flex-wrap: wrap; }
  #projects .proj {
    border: 2px solid #FCFFF5;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 2.5em;
    transition: all 0.8s linear; }
    #projects .proj .fa {
      transition: color 1s linear; }
    #projects .proj code {
      transition: border 1s linear; }
    #projects .proj:hover {
      color: #10222B;
      background-color: #FCFFF5; }
      #projects .proj:hover .fa {
        color: #10222B; }
      #projects .proj:hover code {
        border: 1px solid #10222B; }

#hobbies {
  background-color: #FDE792; }

#contacts {
  color: #FCFFF5;
  background-color: #2A2C2B; }

footer {
  font-family: "Roboto-Light";
  word-spacing: 0.5em; }

.extlink {
  position: absolute;
  display: block;
  top: 0;
  right: 1%; }

.jumbotron {
  min-height: 100vh;
  background-color: #10222B;
  color: #FCFFF5;
  display: flex;
  align-items: center;
  outline: 1px solid #FCFFF5;
  outline-offset: -40px; }
  .jumbotron h1 {
    font-family: "SinaNova"; }
    @media screen and (min-width: 480px) {
      .jumbotron h1 {
        font-size: 56px; } }
    @media screen and (min-width: 768px) {
      .jumbotron h1 {
        font-size: 71px; } }
    @media screen and (min-width: 992px) {
      .jumbotron h1 {
        font-size: 80px; } }
    @media screen and (min-width: 1200px) {
      .jumbotron h1 {
        font-size: 96px; } }
  .jumbotron hr {
    width: 25vw; }
  .jumbotron h3 {
    font-family: "GenBasR"; }
    @media screen and (min-width: 480px) {
      .jumbotron h3 {
        font-size: 16px; } }
    @media screen and (min-width: 768px) {
      .jumbotron h3 {
        font-size: 19px; } }
    @media screen and (min-width: 992px) {
      .jumbotron h3 {
        font-size: 23px; } }
    @media screen and (min-width: 1200px) {
      .jumbotron h3 {
        font-size: 28px; } }

.fa {
  color: #FCFFF5; }
