section {
    h2 {
        font-family: $hfont;
        @include font-size($fs-jumbo-h2);
    }

    blockquote {
        border: 0;
        font-family: $bfont-light;
        @include font-size($fs-h3);

        cite {
            font-style: normal;
            @include font-size($fs-h4);
        }
    }

    hr {
        color: $bg-shade-1;
        width: $scr-width * 0.75;
    }

    section {
        font-family: $bfont-cursive-light;
        @include font-size($fs-body);
    }

    time {
        font-family: $bfont-light;
    }
}

#profile {
    img {
        height: 100px;
        width: 100px;
        border-radius: 100px;
    }
}

#experience {
    color: $bg-base;
    background-color: $bg-shade-2;

    h5 {
        color: $bg-shade-3;
    }
}

#education {
    background-color: $bg-shade-9;

    h5 {
        color: $bg-shade-7;
    }
}

#skills {
    background-color: $bg-shade-4;

    section ul li {
        color: $bg-base;
        padding: 5px 10px;
        margin: 10px;
        border-radius: 5px;
        background-color: $bg-shade-1;
    }
}

#projects {
    color: $bg-base;
    background-color: $bg-shade-7;

    section {
        display: flex;
        flex-wrap: wrap;
    }

    .proj {
        border: 2px solid $bg-base;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 2.5em;
        transition: all 0.8s linear;

        .fa {
            transition: color 1s linear;
        }
        code {
            transition: border 1s linear;
        }

        &:hover {
            color: $bg-shade-1;
            background-color: $bg-base;

            .fa {
                color: $bg-shade-1;
            }

            code {
                border: 1px solid $bg-shade-1;
            }
        }
    }
}

#hobbies {
    background-color: $bg-shade-3;
}

#contacts {
    color: $bg-base;
    background-color: $bg-shade-6;
}

footer {
    font-family: $bfont-light;
    word-spacing: 0.5em;
}

.extlink {
    position: absolute;
    display: block;
    top: 0;
    right: 1%;
}
