section {
    h2 {
        font-family: $hfont;
        @include font-size($fs-jumbo-h2);
    }

    blockquote {
        border: 0;
        font-family: $bfont-light;
        @include font-size($fs-h3);

        cite {
            font-style: normal;
            @include font-size($fs-h4);
        }
    }

    hr {
        color: $bg-shade-1;
        width: $scr-width * 0.75;
    }

    section {
        font-family: $bfont-cursive-light;
        @include font-size($fs-body);
    }
}

#profile {
    img {
        height: 100px;
        width: 100px;
        border-radius: 100px;
    }
}

#experience {
    color: $bg-base;
    background-color: $bg-shade-2;
}

#education {
    background-color: $bg-shade-9;
}

#skills {
    background-color: $bg-shade-4;

}

#projects {
    background-color: $bg-shade-7;

}

#hobbies {
    background-color: $bg-shade-3;

}

#contacts {
    background-color: $bg-shade-6;

}
