@mixin font-face($family,$src,$style: normal,$weight: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$src}#{$family}.ttf') format('truetype'),
			url('#{$src}#{$family}.otf') format('opentype');

		font-style: $style;
		font-weight: $weight;
	}
}

/* Source - https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/ */
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}
